annotated-types==0.6.0
asgiref==3.7.2
beautifulsoup4==4.12.3
blis==0.7.11
catalogue==2.0.10
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
confection==0.1.4
construct==2.5.3
cymem==2.0.8
Django==4.2.16
django-bootstrap-v5==1.0.11
django-haystack==3.2.1
django-widget-tweaks==1.5.0
gunicorn==22.0.0
idna==3.7
Jinja2==3.1.4
langcodes==3.3.0
MarkupSafe==2.1.5
murmurhash==1.0.10
numpy==1.26.4
packaging==23.2
pefile==2023.2.7
preshed==3.0.9
psycopg2-binary==2.9.9
pydantic==2.6.1
pydantic_core==2.16.2
python-ptrace==0.9.8
requests==2.32.2
six==1.16.0
smart-open==6.4.0
soupsieve==2.5
spacy==3.7.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.5.0
srsly==2.4.8
thinc==8.2.3
tqdm==4.66.3
typer==0.9.0
typing_extensions==4.9.0
urllib3==2.2.2
wasabi==1.1.2
weasel==0.3.4
