[Unit]
Description=gunicorn daemon for Parmesan
Requires=parmesan.socket
After=network.target

[Service]
EnvironmentFile=/home/django/.environment
User=django
Group=www-data
WorkingDirectory=/home/django/parmesan
ExecStart=/home/django/parmesan_env/bin/gunicorn \
	--access-logfile - \
	--workers 3 \
	--bind unix:/run/parmesan.sock \
	parmesan2.wsgi:application

[Install]
WantedBy=multi-user.target
